body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: black;
    border-radius: 10px;
    height: 80vh;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    animation: logContainer 10s linear infinite;
}
.topic{
  text-align: center;
}
.button{
    margin-top: 80px;
    border: 0px;
    box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.088);
    width: 200px;
    height: 70px;
    margin-left: 80px;
    background-color: rgb(13, 212, 13);
    border-radius: 10px;
    cursor: pointer;
    font-size:x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: drop 1s ease-out forwards;
}
.button:hover{
    background-color: rgb(165, 226, 165);;
    transform: translateY(4px);
}

input{
    all: unset;
    padding: 15px;
    border: 2px solid transparent;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.088);
    margin-top: 10px;
    margin-left: 20px;
    height: 30px;
    width: 300px;
    border-radius: 10px;
    font-size: medium;
    transition: border .3s ease-in-out;
    border: 1px solid white;
    color: white;
    animation: drop 2s ease-out forwards;
}
input:focus{
border-color: blueviolet;
}
input::placeholder{
    font-size: .9rem;
}

input:first-of-type {
    margin-top: 50px;
}
.Link{
    color: white;
}
@keyframes logContainer{
    0%{
        box-shadow: 0px 0px 20px red;
    }
    25%{
        box-shadow: 0px 0px 20px orange;
    }
    50%{
        box-shadow: 0px 0px 20px lime;
    }
    75%{
        box-shadow: 0px 0px 20px cyan;
    }
    100%{
        box-shadow:0px 0px 20px red;
    }
}

@keyframes drop{
    0%{
        opacity: 0;
       transform: translateY(-100px);
    }
    60%{
        opacity: 1;
        transform: translateY(20px);
    }
    80%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}