.nav{
    position: fixed; 
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    margin-bottom: 20px;
}
.todo{
   margin-top: 0px;
   margin-right: 750px;
   margin-left: 10px;
   animation: drop 1s ease-out forwards;
}
button{
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: drop 2s ease-out forwards;
}
.add{
    background-color: rgb(112, 255, 112);
    width: 200px;
    height: 50px;
    margin: 10px;
    color: black;
    font-size: large;
    cursor: pointer;
    
}
.add:hover{
   background-color: white;
   transform: translateY(4px);
}
.add:active{
   background-color: white;
   box-shadow: 0 5px ;
   transform: translateY(4px);

}
.WriteTask{
   color: white;
   border: 1px solid white;
   font-size: large;
   font-family:'Courier New', Courier, monospace ;
   margin-bottom: 40px;
}
li{
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;

}
.action-delete{
  margin-bottom: 10px;
  width: 80px;
  height: 30px;
  background-color: red;
  cursor: pointer;

}
.action-delete:hover{
    background-color: rgb(238, 135, 135);
    transform: translateY(4px);
}
.action-up{
  margin-bottom: 10px;
  width: 80px;
  height: 30px;
  background-color: rgb(112, 255, 112);
  cursor: pointer;

}
.action-up:hover{
    background-color:  rgb(148, 195, 148);
    transform: translateY(4px);
}
.action-down{
  margin-bottom: 10px;
  width: 80px;
  height: 30px;
  background-color: rgb(233, 173, 173);
  cursor: pointer;

}
.action-down:hover{
    background-color:  rgb(233, 212, 212);
    transform: translateY(4px);
}
.display{
    color: white;
    flex: 1;
}
.fixed-input{
   position: fixed;
   top: 60px; 
   left: 0px;
}
.searchbar{
    position: absolute;
    right: 30px;
    top: 60px;
    width: 300px;
    height: 20px;
}
.deleteico{
    height: 20px;
    width: 20px;
}
.editbtnicon{
    height: 20px;
    width: 20px;
}
.editbtn{
  margin-bottom: 10px;
  width: 80px;
  height: 30px;
  background-color: yellow;
  cursor: pointer;
 
}
.editbtn:hover{
   background-color: white;
   transform: translateY(4px);
}
.form{
    border-radius: 10px;
    animation: form 5s linear infinite;
    padding: 20px;
    display: flex;           
    flex-direction:column;   /* ADD to stack children vertically */
    align-items: center;      /* Center input and button horizontally */
    gap: 10px;        
}
.save{
    border-radius: 5px;
    background-color: lime;
    width: 200px;
    height: 40px;
}
.save:hover{
    background-color: white;
    transform: translateY(4px);
}
@keyframes drop{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    60%{
        opacity: 1;
        transform: translateY(60px);
    }
    80%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes form{
    0%{
       box-shadow: 0 0  20px red;
       
    }
    25%{
       box-shadow: 0 0 20px orange;
    }
    50%{
        box-shadow: 0 0   20px cyan;
    }
    75%{
        box-shadow: 0 0  20px lime;
    }
    100%{
        box-shadow: 0 0  20px red;
    }
}